
.tippy-box[data-theme~='custom-theme'] {
  background-color: #f5f5f5; 
  color: #2C4570; 
  padding: 15px; 
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 

  
}

.tippy-box[data-theme~='custom-theme'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #f5f5f5; 
}

.tippy-box[data-theme~='custom-theme'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #f5f5f5; 
}

.tippy-box[data-theme~='custom-theme'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #f5f5f5; 
}
.tippy-box[data-theme~='custom-theme'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #f5f5f5; 
}
.tippy-box[data-theme~='custom-theme'] .tooltip-content strong {
  display: inline-block;
  min-width: 110px; 
  padding: 2px 4px; 
}

.re-text{
  color: red;
}